.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2rem;
}

.loading-spinner {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.pagination{
  margin-top: 25px;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
}
