@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background-image: linear-gradient(to top, #bc4e9c, #f80759);

  mat-icon{
    color: white;

  }

  .span-titulo{
    font-family: 'Nosifer', sans-serif;
    font-size: 25px;
    color: white;
  }
  .button-rotas{
    color: white;
    font-size: 16px;
  }
}
