*{
  color: #ffffff;
}

.btnMenu{
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.menu{
  font-family: Roboto, sans-serif;

  mat-icon{
    color: #ffffff;
  }
  button:hover{
    background-color: hotpink;
  }
}

//TODO TENTAR REMOVER O NG-DEEP
::ng-deep .custom-class {
  background-color: deeppink!important;
}
